<div class="row">
	<div class="col-lg-12">
		<div class="m-portlet">
			<div class="m-portlet__head">
				<div class="m-portlet__head-caption">
					<div class="m-portlet__head-title">
						<input class="form-control m-input form-control-sm" type="text" value="" placeholder="Enter search term..." id="example-text-input">
					</div>
				</div>
			</div>
			<div class="m-portlet__body">
				<ul class="nav nav-tabs  m-tabs-line" role="tablist">
					<li class="nav-item m-tabs__item">
						<a class="nav-link m-tabs__link active" data-toggle="tab" role="tab">News</a>
					</li>
					<li class="nav-item dropdown m-tabs__item">
						<a class="nav-link m-tabs__link" data-toggle="tab" role="tab">Authors</a>
					</li>
					<li class="nav-item m-tabs__item">
						<a class="nav-link m-tabs__link" data-toggle="tab" role="tab">Site/Chatgroups</a>
					</li>
					<li class="nav-item m-tabs__item">
						<a class="nav-link m-tabs__link" data-toggle="tab" role="tab">News Summary</a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="m_tabs_news" role="tabpanel">
						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
						specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
						and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
					</div>
					<div class="tab-pane" id="m_tabs_authors" role="tabpanel">
						It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
						recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
					</div>
					<div class="tab-pane" id="m_tabs_sitechatgroups" role="tabpanel">
						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
						specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged
					</div>
					<div class="tab-pane" id="m_tabs_newssummary" role="tabpanel">
						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
						specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
